$bourbon: (
  "modular-scale-base": 1rem,
  // README: Default is $major-third
  "modular-scale-ratio": $minor-third,
);

// Colors
$blue:                  #73cad5;
$red-light:             #f3726a;
$grey:                  #58595b;
$grey-light:            #d9d9da;
$grey-dark:             #231f20;
$brown:                 #aa9f89;
$brown-light:           #e9e6e0;
$brown-dark:            #473f3a;
$white:                 #fff;

// Box Model
$spacer:                2rem;

// Font Colors
$font-color--base: $grey;
$font-color--contrast: $white;
$font-color--contrast-alt: $grey-dark;
$action-color: $red-light;
$action-color--alt: $blue;
$action-color--contrast: $white;
$action-color--contrast-alt: $brown;

// Background Colors
$bg-color--viewport: $white;
$bg-color--signup: $brown;
$bg-color--alt: $blue;
$bg-color--contrast: $red-light;
$bg-color--contrast-alt: $brown-light;
$bg-color--footer: $brown-dark;
$bg-color--footer-contrast: $brown;

// Sizes for Layout
$max-width-content: 77.75rem;
$viewport-breakpoint-small: 33rem;
$viewport-breakpoint-large: 55rem;

:root {
  // Typography
  // Europa-Regular from Adobe Fonts Typekit
  --font-family: europa, sans-serif;
  --font-family--heading: var(--font-family);
  // Alternate Gothic No3 D Regular
  --font-family--contrast: alternate-gothic-no-3-d, sans-serif;
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 0.1875rem;
  --spacing: 2.8125rem;
  --spacing--small: 1rem;

  // Borders
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;

  // Focus
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #{$action-color};

  // Animations
  --duration: 150ms;
  --timing: ease;
}
