---
---

@import '{{ site.theme }}';

.view {
  display: none;
}

#mc_embed_signup {
  h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
    padding: inherit;
  }

  .indicates-required {
    font-size: .75em;
    text-align: right;
  }

  .asterisk {
    color: #e85c41;
    font-size: 150%;
    position: relative;
    top: 5px;
  }

  input {
    border: 1px solid #abb0b2;
    border-radius: 3px;
  }

  .mc-field-group {
    min-height: 50px;
    padding-bottom: 3%;
    position: relative;
    width: 96%;

    label {
      display: block;
      margin-bottom: 3px;
    }

    input {
      display: block;
      padding: 8px 0;
      text-indent: 2%;
      width: 100%;
    }
  }

  .response {
    font-weight: bold;
    margin: 1em 0;
  }
}

#mce-responses {
  margin: 0 5%;
}
