/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

// Mailchimp form styles (but also some of our own forms b/c Jeff was lazy)
.mc-embedded-subscribe-form {
  @media only screen and (min-width: $viewport-breakpoint-large) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  padding: 1rem;

  label,
  input {
    margin: auto;
  }

  h3 {
    margin: 0;
  }

  h3,
  label {
    color: $font-color--contrast;
    font-family: var(--font-family--contrast);
    font-size: 1.875rem;
    font-weight: var(--font-weight--normal);
  }

  input {
    font-size: 1rem;
  }

  [type="text"],
  [type="email"] {
    background-color: $bg-color--viewport;
    line-height: 1.625rem;
    padding-top: var(--spacing--small);
    padding-bottom: var(--spacing--small);

    @media only screen and (min-width: $viewport-breakpoint-large) {
      min-width: 18.375rem;

      .home & {
        min-width: unset;
      }
    }

    &::placeholder {
      text-transform: uppercase;
    }
  }

  [type="submit"] {
    font-family: var(--font-family--contrast);
    font-size: 1.625rem;
    font-weight: var(--font-weight--normal);
    margin-top: 1rem;
    padding: var(--spacing--small) var(--spacing);

    @media only screen and (min-width: $viewport-breakpoint-large) {
      margin-top: 0;
      margin-left: var(--spacing--small);
    }
  }
}

// Action Network styles
.can_embed form li {
  display: initial;
}

.can_embed_form_inner h2,
.can_embed_form_inner h4,
.js-d_sharing,
.international_link-wrap,
.country_drop_wrap,
#action_info,
#logo_wrap {
  display: none;
}

// Gravity Form styles
.gform_wrapper {
  select {
    // README: Setting border & border-radius ensures that Chrome, Safari,
    //          & Firefox respect font-size & other styles
    border: 1px solid #000;
    border-radius: 5px;
    height: 51px;
  }
}

.gfield_product_4_3,
.gfield_product_4_18 {
  .gfield_radio li {
    margin: 0;
  }

  input {
    appearance: none;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: brightness(1.8) grayscale(1) opacity(0.7);
    height: 100px;
    margin: 0;
    padding: 0;
    transition: all 100ms ease-in;
    width: 100px;

    &:hover {
      filter: brightness(1.2) grayscale(0.5) opacity(0.9);
    }

    &:active {
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }

    &:checked {
      filter: none;
    }
  }

  .gfield_radio {
    div:nth-child(1) input {
      background-image: url("/images/membership-icons/dorm.png");
    }

    div:nth-child(2) input {
      background-image: url("/images/membership-icons/tiny-house.png");
    }

    div:nth-child(3) input {
      background-image: url("/images/membership-icons/single-family-with-adu.png");
    }

    div:nth-child(4) input {
      background-image: url("/images/membership-icons/townhouses.png");
    }

    div:nth-child(5) input {
      background-image: url("/images/membership-icons/triple-decker.png");
    }

    div:nth-child(6) input {
      background-image: url("/images/membership-icons/apartment-building.png");
    }

    div:nth-child(7) input {
      background-image: url("/images/membership-icons/mixed-use-development.png");
    }
  }
}
