/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

.mc-embedded-subscribe-form {
  @media only screen and (min-width: $viewport-breakpoint-large) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  padding: 1rem;

  .mc-field-group {
    align-self: stretch;
  }

  label,
  input {
    margin: auto;
  }

  h3 {
    margin: 0;
  }

  h3,
  label {
    color: $font-color--contrast;
    font-family: var(--font-family--contrast);
    font-size: 1.875rem;
    font-weight: var(--font-weight--normal);
  }

  input {
    font-size: 1rem;
  }

  [type="text"],
  [type="email"] {
    background-color: $bg-color--viewport;
    line-height: 1.625rem;
    padding-top: var(--spacing--small);
    padding-bottom: var(--spacing--small);

    @media only screen and (min-width: $viewport-breakpoint-large) {
      min-width: 18.375rem;
    }

    &::placeholder {
      text-transform: uppercase;
    }
  }

  [type="submit"] {
    font-family: var(--font-family--contrast);
    font-size: 1.625rem;
    font-weight: var(--font-weight--normal);
    margin-top: 1rem;
    padding: var(--spacing--small) var(--spacing);

    @media only screen and (min-width: $viewport-breakpoint-large) {
      margin-top: 0;
      margin-left: var(--spacing--small);
    }
  }
}

.gform_wrapper {
  select {
    // README: Setting border & border-radius ensures that Chrome, Safari,
    //          & Firefox respect font-size & other styles
    border: 1px solid #000;
    border-radius: 5px;
    height: 51px;
  }
}
