.footer-site {
  &::before {
    background-image: url("/images/bg-home-outlines.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom;
    height: 118.5px;
    width: 100%;
    position: absolute;
    top: -118.5px;
    content: " ";
    display: block;
  }

  background-color: $bg-color--footer;
  color: $font-color--contrast;
  @include size-from-interval($major-second);
  position: relative;

  .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 118.5px auto 0;
    padding: 3rem 0;

    @include max-width;
  }

  // Copyright text
  .footer-copyright-name {
    @include size-from-interval($perfect-fourth);
  }

  // Mailchimp signup form in footer
  .footer-signup {
    @media only screen and (max-width: $viewport-breakpoint-large) {
      width: 100%;
    }

    .mc-embedded-subscribe-form {
      padding-left: 0;
    }

    [type="email"]::placeholder {
      font-family: var(--font-family--contrast);
      @include size-from-interval($perfect-fifth);
      text-transform: none;
    }

    [type="submit"] {
      @include size-from-interval($golden);
    }
  }
}
