.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem auto 4rem;
  max-width: $max-width-content;

  a {
    color: $font-color--base;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.nav a {
  display: inline-block;
  padding: 0 var(--spacing--small);
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    color: $action-color;
  }
}

.nav-primary-extras {
  align-items: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.75rem;
  text-align: right;

  a:hover {
    color: $action-color;
  }
}

.nav {
  display: flex;

  .active a {
    color: $action-color--alt;
  }

  .menu-donate a {
    background-color: $action-color;
    color: $action-color--contrast;
    text-align: center;
    text-decoration: none;
    transition: background-color var(--duration) var(--timing);
    white-space: nowrap;

    &:hover {
      background-color: $action-color--alt;
    }

    &:focus {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }
}
