.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem auto 4rem;
  max-width: $max-width-content;

  a {
    color: $font-color--base;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.nav-primary-extras {
  align-items: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.75rem;
  text-align: right;
}

.nav {
  display: flex;

  a {
    display: inline-block;
    padding: 0 var(--spacing--small);
    text-transform: uppercase;
    vertical-align: middle;

    &:hover {
      color: $action-color;
    }
  }

  .menu-donate a {
    background-color: $action-color;
    color: $action-color--contrast;
    text-align: center;
    text-decoration: none;
    transition: background-color var(--duration) var(--timing);
    white-space: nowrap;

    &:hover {
      background-color: $action-color--alt;
    }

    &:focus {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }
}

.page-header {
  background-image: url("/app/themes/abundanthousingma/resources/assets/images/bg-page-header.jpg");
  background-size: auto 237px;
  background-repeat: no-repeat;
  color: $font-color--contrast;
  min-height: 237px;

  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .header-signup {
    background-color: $bg-color--signup;

    h3 {
      font-family: var(--font-family--contrast);
      font-weight: var(--font-weight--normal);
    }
  }
}
