.main {
  h2 {
    color: $action-color;
    font-size: 3rem;
    text-transform: uppercase;
  }

  h3,
  p,
  li {
    font-size: 1.875rem;
  }

  ul {
    list-style-type: initial;
    padding-left: 2.5rem;
  }

  > .wp-block-group {
    padding: 4rem 0;

    > .wp-block-group__inner-container {
      margin: auto;
      max-width: $max-width-content;
    }
  }

  .wp-block-group-contrast {
    @include angle(before, true, 4.5deg);

    background-color: $bg-color--alt;
    color: $font-color--contrast;

    h2 {
      color: $font-color--base;
    }

    h3 {
      font-size: 3.75rem;
    }

    li {
      color: $font-color--contrast-alt;
    }
  }

  .page-header {
    background-image: url("/app/themes/abundanthousingma/resources/assets/images/bg-page-header.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain 237px;
    color: $font-color--contrast;
    display: flex;
    padding: 4rem 0;

    > .wp-block-group__inner-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      max-width: $max-width-content;
      padding-bottom: 3rem;
      padding-top: 0.5rem;

      .page-header__headline {
        color: $font-color--contrast;
        font-size: 2.5rem;
        margin-top: 1rem;
        width: 50%;
      }
    }
  }

  .header-signup {
    background-color: $bg-color--signup;
    padding: 0 3rem;
    width: 50%;

    .mc-embedded-subscribe-form {
      display: initial;
    }

    [type="submit"] {
      margin-left: 0;
    }

    h3 {
      font-family: var(--font-family--contrast);
      font-weight: var(--font-weight--normal);
    }
  }
}

.about {
  .main {
    > .wp-block-group-contrast {
      display: flex;
      margin-top: 3rem;

      > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.home {
  .wp-block-latest-posts__list {
    padding-left: 0;
  }

  .main {
    > .wp-block-group {
      display: flex;
      padding: 4rem 0;

      > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: $max-width-content;
      }
    }

    .a-spot {
      @include angle(after, true, 2deg);

      background-color: $bg-color--alt;

      .wp-block-group__inner-container {
        justify-content: space-between;
      }

      .header-group {
        width: 33%;
      }

      .wp-block-embed {
        width: 66%;
      }

      h2 {
        color: $font-color--contrast;
        font-size: 3.75rem;
      }

      .wp-block-button__link {
        font-size: 2rem;
      }
    }

    .b-spot {
      background-image: url("/app/themes/abundanthousingma/resources/assets/images/bg-home-outlines.svg");
      background-repeat: repeat-x;
      background-position: bottom;

      .wp-block-group__inner-container {
        align-content: flex-start;
        margin-top: 2rem;
        margin-bottom: 15rem;

        > * {
          width: 75%;
        }
      }

      h2 {
        color: $action-color;
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

      .mc-embedded-subscribe-form {
        background-color: $bg-color--signup;
      }

      [type="email"]::placeholder {
        text-transform: uppercase;
      }

      [type="submit"] {
        font-size: 1.625rem;

        &:hover {
          background-color: $action-color--alt;
        }
      }
    }

    .c-spot {
      background-color: $bg-color--contrast;

      h2 {
        color: $font-color--contrast;
        font-size: 3.75rem;
        order: 2;
      }

      h3 {
        font-family: var(--font-family--contrast);
        font-size: 3rem;
        order: 3;
      }

      .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
      }

      .header-group {
        order: 2;
        width: 50%;
        margin-left: 10%;
      }

      .wp-block-embed {
        order: 1;
        width: 40%;
      }
    }

    .d-spot {
      background-color: $bg-color--contrast-alt;
      @include angle(after, false, 4.5deg);

      h2 {
        color: $action-color;
        font-size: 3rem;
      }

      .wp-block-latest-posts a {
        color: $font-color--base;
        font-family: var(--font-family--contrast);
        font-size: 4rem;
        text-decoration: none;
      }

      .wp-block-buttons {
        margin-top: 1rem;
      }

      a.wp-block-button__link {
        background-color: $font-color--base;
        color: $font-color--contrast;
        font-family: var(--font-family--contrast);
        font-size: 1.4244rem;

        &:hover {
          background-color: $action-color;
        }
      }

      .wp-block-latest-posts__featured-image.alignright {
        margin-left: 1rem;
        max-width: 33%;
      }
    }

    .e-spot {
      padding-top: 8rem;

      .wp-block-gallery {
        width: 60%;
      }

      .wp-block-group {
        margin-left: 5%;
        max-width: 35%;
      }

      h2 {
        color: $action-color;
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
