.blog,
.error404,
.page-template-default,
.page-template-template-no-page-header,
.search,
.single {
  .page-header {
    @include hide-visually;

    @media only screen and (min-width: $viewport-breakpoint-large) {
      padding: 4rem 0;

      @include hide-visually("unhide");
    }
  }

  .main {
    margin-bottom: var(--spacing);
  }

  .footer-site {
    margin-top: calc(118.5px + var(--spacing));
  }
}

.post {
  margin: auto;
  max-width: 90vw;

  @media only screen and (min-width: $viewport-breakpoint-large) {
    max-width: $max-width-content * 0.75;
  }

  h2 {
    text-transform: unset;
  }

  h3,
  p,
  li {
    font-size: 1rem;
  }
}

.entry-title,
.page-title {
  color: $action-color;
  text-transform: uppercase;

  @include size-from-interval($major-twelfth);
}

.page-template-default,
.page-template-template-full-width {
  .page-title {
    display: none;
  }
}
