// Colors
$blue:                  #73cad5;
$red-light:             #f3726a;
$grey:                  #58595b;
$brown:                 #aa9f89;
$brown-light:           #e9e6e0;
$brown-dark:            #473f3a;
$white:                 #fff;

// Box Model
$spacer:                2rem;

// Font Colors
$font-color--base: $grey;
$action-color: $red-light;
$action-color--alt: $blue;
$action-color--contrast: $white;
$bg-color--signup: $brown;
$bg-color--alt: $blue;
$bg-color--contrast: $red-light;
$bg-color--contrast-alt: $brown-light;
$bg-color--footer: $brown-dark;

// Background Colors
$viewport-background-color: $white;

:root {
  // Typography
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;

  // Borders
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;

  // Focus
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #{$action-color};

  // Animations
  --duration: 150ms;
  --timing: ease;
}
